/*Main navbar*/
.navbar-ckg {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
	background: white;
	transition: all 0.3s ease;
	height: 70px;
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*Logo*/
.navbar-ckg-logo img {
	height: 50px;
}

/*User's avatar*/
.navbar-ckg .avatar {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

/*Right section*/
.navbar-ckg-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*Basic navbar item*/
.navbar-ckg-item {
	cursor: pointer;
	padding: 0 20px;
}

/*Navbar link*/
.navbar-ckg-link {
	color: #616668;
	font-size: 14px;
}
.navbar-ckg-link:hover {
	color: #DA552F;
	text-decoration: none;
}

/*Dropdown menu*/
.navbar-ckg-dropdown-menu {
	margin-top: 15px;
	box-shadow: 1px 1px 4px #E6E6E6;
	border-color: #E6E6E6;
}

.navbar-ckg-dropdown-menu li > a {
	transition: color 0.3s ease;
	font-weight: lighter !important;
	color: #999999 !important;
	font-size: 15px !important;
	line-height: 22px !important;
	padding: 10px 20px;
}

.navbar-ckg-dropdown-menu li > a:hover {
	background: transparent !important;
	color: black !important;
}

.navbar-ckg-dropdown-menu:before {
	content: ' ';
	height: 10px;
	width: 10px;
	position: absolute;
	right: 10px;
	top: -6px;
	background-color: white;
	transform: rotate(45deg);
	border-left: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
}
