.tab-panel {
	background-color: #962424;
	display: flex;
	justify-content: space-around;
	padding: 10px 10px 0 10px;
}

.tab-panel a {
	color: white;
}

.tab-panel a:hover {
	cursor: pointer;
	text-decoration: none;
	opacity: 0.9;
}

.tab-panel h3 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 0;
}

.tab-panel p {
	font-size: 15px;
	opacity: 0.65;
	margin-bottom: 0;
}

.tab {
	background-color: #FF5454;
	flex: 1 0 auto;
	text-align: center;
	padding: 20px 0;
}

.tab:first-child {
	border-radius: 4px 0 0 0 ;
}

.tab:last-child {
	border-radius: 0 4px 0 0 ;
}

.tab.active {
	background-color: white;
	color: #962424
}
